body {
  font-family: Arial, sans-serif;
  text-align: center;
}
form {
  margin-bottom: 20px;
}
input {
  display: block;
}
label {
    display: block;
}
button {
    background-color: seagreen;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    color: white;
    font-size: 1em;
}

.title {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#channel-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
}
